.fav-page
    .main
        .main__banner
            .main__banner-wrap
                .main__banner-left
                    .main__banner-text-bonus FAVBET BIRTHDAY BONUS
                    .main__banner-text-top
                        span FAVBET
                        span ti
                        span želi
                    .main__banner-text-center sretan <br> rođendan
                        span.center-subtext Dosegli ste novu razinu
                    .main__banner-text-bottom Nema razloga da ograničavaš svoje želje i čekaš ugodna iznenađenja.

                .main__banner-right
                    .main__banner-right-img
                        img(src="./img/banner-cake.svg" alt="favbet.ua")
                    .main__banner-icons
                        .main__banner-icons-left
                            .cubes-icon
                            .cherry-icon
                            .cards-icon
                        .main__banner-icons-right
                            .sport-icon
                            .game-icon
                            .fav-icon
                            .loading-icon
            .main__banner-bottom
                .main__banner-bottom-item Budi u igri uz FAVBET
                .main__banner-bottom-item Dodajemo sjajne emocije tvom posebnom danu
                .main__banner-bottom-item FAVBET BIRTHDAY BONUS
        .main__game-machine
            .main__playground
    .details
        details.details__drop
            summary.drop-btn
                span
    .rules