.fav-page
    .popup
        .popup__wrap
            .popup__close
            .popup__title KAKO OSTVARITI BONUS:
            ol.popup__list
                li.popup__list-item Ući u korisnički račun na svoj rođendan;
                li.popup__list-item Aktivirati bonuse: <br> 10 RFB i 25 FS
            a(href="").popup__btn na svoj osobni račun

    .main
        .main__banner
            .main__banner-wrap
                .main__banner-left
                    .main__banner-text-bonus FAVBET BIRTHDAY BONUS
                    .main__banner-text-top
                        span FAVBET
                        span ti
                        span želi
                    .main__banner-text-center sretan <br> rođendan
                        span.center-subtext Dosegli ste novu razinu
                    .main__banner-text-bottom Nema razloga da ograničavaš svoje želje i čekaš ugodna iznenađenja.

                .main__banner-right
                    .main__banner-right-img
                        img(src="./img/banner-cake.svg" alt="favbet.ua")
                    .main__banner-icons
                        .main__banner-icons-left
                            .cubes-icon
                            .cherry-icon
                            .cards-icon
                        .main__banner-icons-right
                            .sport-icon
                            .game-icon
                            .fav-icon
                            .loading-icon
            .main__banner-bottom
                .main__banner-bottom-item Budi u igri uz FAVBET
                .main__banner-bottom-item Dodajemo sjajne emocije tvom posebnom danu
                .main__banner-bottom-item FAVBET BIRTHDAY BONUS
        .main__game
            .main__game-machine
                .main__game-machine-text vas čeka <br> vaš bonus
                .main__game-playground
                    .game-body
                        .hook-wrap
                            .hook-fastering
                            .hook
                    .result
                        .FS FS #[span 0]#[span 0]
                        .RFB RFB #[span 0]#[span 0]
                        .EUR EUR #[span 0]#[span 0]
                    .start-text Pritisni gumb...
                    .coins
                        .coin.coin1
                        .coin.coin2
                        .coin.coin3
                        .coin.coin4
                        .coin.coin5
                        .coin.coin6
                    .gameOver
                        .gameOver__title Automatski ti je <br> dodijeljeno
                        .gameOver__prize
                                .FS FS 25
                                .RFB RFB 10
                                .EUR EUR 10
                        .gameOver__text koje možeš iskoristiti <br> u naredna tri dana.
                        .gameOver__info KAKO OSTVARITI BONUS?

                .main__game-machine-btn početak
    .details
        details.drop
            summary.drop__btn
                span Detalji
            ul.drop__list
                li.drop__list-item 1. Nakon što je korisnik e-mailom primio poziv za sudjelovanje, može aktivirati i iskoristiti bonuse u roku od 3 dana.
                li.drop__list-item 2. Za korištenje besplatnih vrtnji, potrebno je uplatiti od 5 eura, minimalna cijena 1 FS je 0,2 eura.
                li.drop__list-item Detaljnije informacije nalaze se u pravilima ispod.
    .rules
        details.drop
            summary.drop__btn
                span Pravila
            ul.drop__list
                li.drop__list-item 1. Nakon što je korisnik e-mailom primio poziv za sudjelovanje, može aktivirati i iskoristiti bonuse u roku od 3 dana.
                li.drop__list-item 2. Za korištenje besplatnih vrtnji, potrebno je uplatiti od 5 eura, minimalna cijena 1 FS je 0,2 eura.
                li.drop__list-item Detaljnije informacije nalaze se u pravilima ispod.