.fav-page
    .popup
        .popup__wrap
            .popup__close
            .popup__title KAKO OSTVARITI BONUS:
            ol.popup__list
                li.popup__list-item Ući u korisnički račun na svoj rođendan;
                li.popup__list-item Aktivirati bonuse: <br> 10 RFB i 25 FS
            a(href="").popup__btn na svoj osobni račun

    .main
        .main__banner
            .main__banner-wrap
                .main__banner-left
                    .main__banner-text-bonus FAVBET BIRTHDAY BONUS
                    .main__banner-text-top
                        span FAVBET
                        span ti
                        span želi
                    .main__banner-text-center sretan <br> rođendan
                        span.center-subtext Dosegli ste novu razinu
                    .main__banner-text-bottom Nema razloga da ograničavaš svoje želje i čekaš ugodna iznenađenja.

                .main__banner-right
                    .main__banner-right-img
                        img(src="./img/banner-cake.svg" alt="favbet.ua")
                    .main__banner-icons
                        .main__banner-icons-left
                            .cubes-icon
                            .cherry-icon
                            .cards-icon
                        .main__banner-icons-right
                            .sport-icon
                            .game-icon
                            .fav-icon
                            .loading-icon
            .main__banner-bottom
                .main__banner-bottom-item Budi u igri uz FAVBET
                .main__banner-bottom-item Dodajemo sjajne emocije tvom posebnom danu
                .main__banner-bottom-item FAVBET BIRTHDAY BONUS
        .main__game
            .main__game-machine
                .main__game-machine-text vas čeka <br> vaš bonus
                .main__game-playground
                    .game-body
                        .hook-wrap
                            .hook-fastering
                            .hook
                    .result
                        .FS FS #[span 0]#[span 0]
                        .RFB RFB #[span 0]#[span 0]
                        .EUR EUR #[span 0]#[span 0]
                    .start-text Pritisni gumb...
                    .coins
                        .coin.coin1
                        .coin.coin2
                        .coin.coin3
                        .coin.coin4
                        .coin.coin5
                        .coin.coin6
                    .gameOver
                        .gameOver__title Automatski ti je <br> dodijeljeno
                        .gameOver__prize
                                .FS FS 25
                                .RFB RFB 10
                                .EUR EUR 10
                        .gameOver__text koje možeš iskoristiti <br> u naredna tri dana.
                        .gameOver__info KAKO OSTVARITI BONUS?

                .main__game-machine-btn početak
    .details
        details.drop
            summary.drop__btn
                span Detalji
            ul.drop__list
                li.drop__list-item 1. Nakon što je korisnik e-mailom primio poziv za sudjelovanje, može aktivirati i iskoristiti bonuse u roku od 3 dana.
                li.drop__list-item 2. Za korištenje besplatnih vrtnji, potrebno je uplatiti od 5 eura, minimalna cijena 1 FS je 0,2 eura.
                li.drop__list-item Detaljnije informacije nalaze se u pravilima ispod.
    .rules
        details.drop
            summary.drop__btn
                span Pravila
            ul.drop__list
                li.drop__list-item.drop__list-title Službena pravila sudjelovanja u promociji  “FAVBET BIRTHDAY BONUS”
                li.drop__list-item 1) Organizator Promocije
                li.drop__list-item.sub-text 1.1. Organiziranje і provođenje Promocije regulirani su ovim pravilima (dalje u tekstu: Pravila), koja su službeno objavljena na web stranici  www.favbet.hr.
                li.drop__list-item 2) Cilj provođenja Promocije – popularizacija brenda Priređivača igara na sreću.
                li.drop__list-item.sub-text 2.1. Rezultat završetka Promocije je dodjela nagrada sudionicima Promocije.
                li.drop__list-item.sub-text 2.2. Mjesto provođenja Promocije je web stranica www.favbet.hr. i Favbet mobilna aplikacija
                li.drop__list-item.sub-text 2.3. Promocija vrijedi od XX.XX.2023. u 00:00:00 i završava 31.12.2024. u 23:59:59.
                li.drop__list-item 3) Postupak sudjelovanja u promociji:
                li.drop__list-item.sub-text 3.1. Za sudjelovanje u promociji, sudionik promocije mora dobiti pozivnicu za sudjelovanje putem e-maila.
                li.drop__list-item.sub-text 3.2. Za korištenje bonusa uzimaju se u obzir sljedeći detalji:
                    ul.drop__sublist
                        li.drop__sublist-item • Pojedinačne i višestruke oklade.
                        li.drop__sublist-item • Pojedinačne oklade - minimalni ulog 1.8. Višestruke oklade - minimalni tečaj 3,5 (minimalno 3 događaja po listiću).
                        li.drop__sublist-item • Oklade se primaju u sportskom i casino dijelu.
                        li.drop__sublist-item • U promociji sudjeluju samo listići za poravnanje.
                        li.drop__sublist-item • Slotove možete vrtjeti samo u igrici "Rise of Egypt".
                        li.drop__sublist-item • Minimalna uplata od 5 eura.
                        li.drop__sublist-item • Minimalni iznos okretaja u kasinu mora biti 0,2 eura.
                        li.drop__sublist-item • Rulet, Aviator/Jet X i stolne igre ne sudjeluju u promociji.
                        li.drop__sublist-item • Oklade s oznakom "Bez rizika" i/ili "Povrat" se ne prihvaćaju.

                li.drop__list-item.sub-text 3.3. Sudionici promocije svoj napredak mogu pratiti svoj napredak u korisničkom profilu
                li.drop__list-item 4. Nagrade:
                li.drop__list-item.sub-text 4.1. Promotivni bonus se obračunava jednom tijekom jedne kalendarske godine.
                li.drop__list-item.sub-text 4.2. Nagrade se ne mogu zamijeniti za pravi novac i samo su za korištenje u igri.
                li.drop__list-item 5. Prava i odgovornosti sudionika i Uprave Društva
                li.drop__list-item.sub-text 5.1. Sudionik Promocije ima pravo:
                    ul.drop__sublist
                        li.drop__sublist-item - sudjelovati u Promociji u skladu s ovim Pravilima;
                        li.drop__sublist-item - primati informacije o odredbama i uvjetima Promocije;
                        li.drop__sublist-item - primiti nagradu u slučaju da sudionik bude proglašen pobjednikom (pod uvjetom da je sudionik ispunio uvjete navedene u ovim Pravilima);
                        li.drop__sublist-item - odlučiti ne sudjelovati u Promociji.
                li.drop__list-item.sub-text 5.2. Sudionik je dužan:
                    ul.drop__sublist
                        li.drop__sublist-item - pridržavati se svih uvjeta ovih Pravila.
                li.drop__list-item.sub-text 5.3. Uprava društva ima pravo:
                    ul.drop__sublist
                        li.drop__sublist-item - zahtijevati od sudionika da se pridržava ovih Pravila;
                        li.drop__sublist-item - uskratiti bilo kojoj osobi sudjelovanje u Promociji u slučaju kršenja Pravila;
                        li.drop__sublist-item - uskratiti nagradu dobitniku u slučaju nepoštivanja Pravila;
                        li.drop__sublist-item - proširiti ili promijeniti popis nagrada.
                li.drop__list-item.sub-text 5.4. Uprava tvrtke nije odgovorna:
                    ul.drop__sublist
                        li.drop__sublist-item - za odgodu rokova i pogreške tijekom Promocije;
                        li.drop__sublist-item - za neispunjavanje (nepravodobno ispunjavanje) obveza od strane sudionika predviđenih ovim Pravilima;
                        li.drop__sublist-item - za greške u radu i druge tehničke probleme komunikacijskih operatera (telefonskih i internetskih), koji neposredno služe sudionicima i Upravi Društva;
                        li.drop__sublist-item - za primanje nepotpunih i/ili netočnih kontaktnih i/ili drugih informacija od sudionika potrebnih za Promociju;
                        li.drop__sublist-item - za neprimanje pisama, poziva ili elektroničkih poruka od sudionika zbog tehničkih problema i/ili prijevare na Internetu i/ili komunikacijskim kanalima korištenim tijekom Promocije;
                        li.drop__sublist-item - za neispunjenje ili nepravilno ispunjavanje svojih obveza prema sudionicima Promocije kao rezultat kvarova na telekomunikacijskim i energetskim mrežama, djelovanja zlonamjernih programa, kao i nepoštenih radnji trećih osoba.
                li.drop__list-item 6. Posebni uvjeti
                li.drop__list-item.sub-text 6.1. Sudjelovanje u Promociji podrazumijeva potpuno slaganje sudionika s ovim Pravilima.
                li.drop__list-item.sub-text 6.2. Za sva pitanja u vezi s Promocijom, sudionici se mogu prijaviti putem podataka navedenih u odjeljku ''Kontakti'' na web stranici www.favbet.hr.
                li.drop__list-item.sub-text 6.3. Promocija nije otvorena za zaposlenike Favbet-a i/ili tvrtke ili pojedince koji su na drugi način povezani s organizacijom, pripremom i provođenjem Promocije, kao ni za članove njihovih obitelji.
                li.drop__list-item.sub-text 6.4. U slučaju da se utvrdi da je sudionik Promocije prekršio ova Pravila, on/ona će biti isključen/a iz sudjelovanja u Promociji.
                li.drop__list-item.sub-text 6.5. U spornim situacijama odluka Uprave Društva je konačna.
